.body{
	background-color:#f5f5f5;
	margin:0;
	padding:0;
}
.main-container{
	width:500px;
	height:200px;
	background-color:#f5f5f5;
	padding:10px;
}
#testimonial{
	font-size:10px;
	text-align:top left;
}
#Author{
	display:block;
	text-align:right;
	font-style:italic;
}
#text{
	width:490px;
	height:50px;
	padding:1px;
	margin:10px;
	border:10px;
	font-size:10px;
	background-color:white;
	font-style:normal;
	line-height:30px;
}
